<table id="days">
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr> 
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<br>

<%= form_with model: @create_dates, url: create_dates_path, local: true do |form| %>
    <%= form.fields_for :create_dates do |field| %>
      <div id="select_days">
        <ul id="add_date_style">
          <li class = "date_input">
            <%= field.date_field :savedate, class: 'date-select' %>
          </li>
          <li class = "date_time"> 
            <%= field.select :savetime, ['00:00~', '00:30~', '01:00~'], {include_blank: '選択'}, class: 'sample' %>
          </li>
          <li class = "delete" >
            <%= link_to '削除',"#" %>
          </li>
        </ul>
      </div>
      </br>
    <% end %>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
